body{
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero{
  background: #1f2937;
  flex: 1;
}
.main{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main h1{
  text-align: center;
}
.main .container{
  display: flex;
  justify-content: center;
}
.main .container .item{
  width: 100px;
  text-align: center;
  margin-left: 40px;
}
.main .container .item:first-child{
  margin-left: 0;
}
.main .container .item .box{
  border-radius: 10px;
  border: 2px solid #3882f6;
  height: 100px;
  width: 100px;
}
.main h1{
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.quote{
  flex: 1;
  background: #e5e7eb;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote p:first-child{
  margin: 0 400px;
}
.quote p:last-child{
  margin: 5px 0 0 40px;
}
.callAction{
  flex: 1;
}
.footer{
  background: #1f2937;
  color: #999;
  text-align: center;
}
.footer span{
  margin: 0 10px;
}
